.item-card {
   width: 100%;
   padding: .5rem .5rem 1rem;
   margin: .1rem .1rem .6rem;
   position: relative;
   transition: all .15s ease-in-out;
}

.item-card_img{
   position: relative;
   background: #fafafa 0 0 no-repeat padding-box;
   padding-bottom: 120%;
}

.item-card_img img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   box-sizing: border-box;
   padding: 2.625em 1em;
}

.item-card:hover {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.addToWishlist {
   position: absolute;
   top: 1.125rem;
   right: 1.125rem;
   cursor: pointer;
   box-sizing: border-box;
}

.icon-heart {
   display: inline-flex;
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cpath%20d=%27M34.6%204.6c-4.2%200-8.3%202-10.6%205.2a13.5%2013.5%200%200%200-10.6-5.2%2012%2012%200%200%200-12%2012c0%2011%2013.7%2021.2%2021.8%2026.3l.8.5.8-.5c8.1-5.1%2021.9-15.4%2021.9-26.3a12%2012%200%200%200-12.1-12Z%27%20style=%27fill%3Anone;stroke%3A%23333;stroke-miterlimit%3A2;stroke-width%3A2px%27%2F%3E%3C%2Fsvg%3E");
   height: 22px;
   width: 22px;
}


