.item-card {
   border-radius: 3px;
   color: #333;
   display: inline-flex;
   flex-direction: column;
   margin: .1rem .1rem .6rem;
   padding: .5rem .5rem 1rem;
   position: relative;
   width: 100%;
   transition: all .15s ease-in-out;

   grid-column:  span 3;
}

.item-card_img {
   background: #fafafa 0 0 no-repeat padding-box;
   padding-bottom: 120%;
   position: relative;
}

.item-card_img img {
   left: 0;
   /* mix-blend-mode: multiply; */
   padding: 2.625em 1em;
   position: absolute;
   top: 0;
   width: 100%;
}

.item-card_title {
   margin-top: .5rem;
   overflow: hidden;
   padding: 0 .25rem;
   width: 100%;

   display: block;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.item-card_price {
   margin-top: .3rem;
   padding: 0 .25rem;
   white-space: normal;
}