.account-login {
   margin-top: 2rem;
}

.account-login h1 {
   font-size: 1.5em;
   font-weight: 700;
   line-height: 1.3;
   margin-bottom: 1rem;
   margin-top: 0;
}

.auth-wrapper {
   display: flex;
}

.login-form {
   border-bottom: 0;
   border-right: 1px solid #c9c8c7;
   margin-bottom: 2rem;
   padding-bottom: 1rem;
   padding-right: 2.5rem;
   width: 50%;
}

/* .login-form>* {
   width: 90%;
} */

.login-form input:not([type=checkbox]){
   height: 40px;
   line-height: 40px;
   margin: 0;
   border-radius: 0;
}

h3 {
   font-size: 1em;
   font-weight: 600;
   line-height: 1.6;
   margin-bottom: 1rem;
   margin-top: 0;
}

.form-list__item {
   max-width: unset;
   margin-bottom: 1rem;
}

.form-list__item label {
   color: #5d5c5b;
   display: block;
   font-size: .9em;
}

.form-list__item input {
   max-width: unset;
   width: 100%;
   color: #333;
   padding: 0 6px;
   border: 1px solid #c9c8c7;
   border-radius: 2px;
   font-size: 16px;
   outline-color: #c9c8c7;
}

.login-button {
   background-color: #41a561;
   margin-bottom: .5rem;
   width: 100%;
   height: 40px;
   line-height: 40px;
   border: 0;
   border-radius: 2px;
   box-sizing: border-box;
   color: #fbfcfc;
   cursor: pointer;
   display: inline-block;
   font-size: .95rem;
   font-weight: 700;
   min-width: 75px;
   padding: 0 14px;
   text-align: center;
   text-decoration: none;
}

.login-button:hover {
   background-color: #35854e;
}

.registration-block {
   padding-left: 2.5rem;
   width: 50%;
}

.registration-block p {
   margin: 0 0 1rem;
}

.icon-check {
   height: 16px;
   width: 16px;
   margin-right: .5rem;
   vertical-align: middle;
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cpath%20d=%27m1.4%2026.5%2012.7%2013.2c.5.5%201.4.5%201.9%200L46.6%208%27%20style=%27fill%3Anone;stroke%3A%2341a561;stroke-linecap%3Around;stroke-miterlimit%3A2;stroke-width%3A3px%27%2F%3E%3C%2Fsvg%3E");
}

.checkmarks div {
   line-height: 1.3;
   margin-bottom: .75em;
}

.registernow-button {
   cursor: pointer;
   background-color: #fff;
   border: 1.5px solid #41a561;
   color: #333;
   font-weight: 500;
   line-height: 35px;
   margin-top: 3px;
   width: 100%;
}

.registernow-button:hover {
   border: 1.5px solid #333;
}
