.header {
   padding-top: 1rem;
   margin-bottom: .5rem;
}

.header-content {
   display: flex;
   justify-content: space-between;
}

.header-menu {
   display: flex;
   align-items: center;
   font-size: 14px;
   margin-bottom: 20px;
}

.header-logo {
   line-height: 25px;
}

.header-links {
   display: inline-flex;
   border-right: 1px solid #c9c8c7;
   line-height: 24px;
}

.header-links:hover {
   text-decoration: underline;
   text-underline-offset: 5px;
}

.link-item {
   margin-right: 16px;
}

.header-function {
   display: inline-flex;
}

.header-account {
   margin-left: 16px;
}

.header-fav {
   margin-left: 8px;
}

.header-cart {
   margin-left: 8px;
}

.header-nav {
   display: block;
   border-bottom: 1px solid #c9c8c7;
}

.nav-item {
   cursor: pointer;
   display: flex;
   font-size: 18px;
   line-height: 28px;
   box-sizing: content-box;
   padding: 8px 0;
   margin-right: 25px;
   border-bottom: 1px solid transparent;
}

.category-item:hover {
   border-bottom: 1px solid #5d5c5b;
}

.category-item.nav-item {
   max-width: max-content;
}

.nav-search {
   margin-right: 0;
   display: inline-flex;
   float: right;
}

.icon {
   display: inline-flex;
   height: 24px;
   width: 24px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 50%;
}

.icon:hover {
   cursor: pointer;
}

.icon-link {
   overflow: hidden;
   text-indent: -1000px;
}

.account-icon {
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cpath%20d=%27M35.1%2013a11%2011%200%201%201-22%200%2011%2011%200%200%201%2022%200ZM2%2042.3C2%2035.1%2016.7%2031%2024%2031s22.2%204%2022.2%2011.4v3.7H1.9v-3.7Z%27%20style=%27fill%3Anone;stroke%3A%23333;stroke-miterlimit%3A7.759;stroke-width%3A2px%27%2F%3E%3C%2Fsvg%3E");
}

.fav-icon {
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cpath%20d=%27M34.6%204.6c-4.2%200-8.3%202-10.6%205.2a13.5%2013.5%200%200%200-10.6-5.2%2012%2012%200%200%200-12%2012c0%2011%2013.7%2021.2%2021.8%2026.3l.8.5.8-.5c8.1-5.1%2021.9-15.4%2021.9-26.3a12%2012%200%200%200-12.1-12Z%27%20style=%27fill%3Anone;stroke%3A%23333;stroke-miterlimit%3A2;stroke-width%3A2px%27%2F%3E%3C%2Fsvg%3E");
}

.cart-icon {
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cpath%20d=%27M39.3%2029.5H15.8c-.8%200-1.4-.4-1.6-1L9.6%2014.8c-.3-.8.5-1.6%201.5-1.6h33.4c1.1%200%201.9.8%201.6%201.6l-5.2%2013.8c-.2.5-.9.9-1.6.9ZM38%2035.8H16.3l-1.9-6.1L9.7%2015l-3-10H1.6m18.2%2034a3.1%203.1%200%201%200%200%206.3%203.1%203.1%200%200%200%200-6.3Zm15%200a3.1%203.1%200%201%200%200%206.3%203.1%203.1%200%200%200%200-6.3Z%27%20style=%27fill%3Anone;stroke%3A%23333;stroke-linecap%3Around;stroke-miterlimit%3A10;stroke-width%3A2px%27%2F%3E%3C%2Fsvg%3E");
}

.search-icon {
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone;stroke%3A%23333;stroke-linecap%3Around;stroke-miterlimit%3A7.759;stroke-width%3A2px%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20class=%27cls-1%27%20cx=%2717.7%27%20cy=%2717.5%27%20r=%2715.2%27%2F%3E%3Cpath%20class=%27cls-1%27%20d=%27M45.5%2045.5%2028.4%2028.4%27%2F%3E%3C%2Fsvg%3E");
}


.icon-badge-green {
   background-color: #41a561;
   border-radius: 7px;
   color: #fff;
   display: block;
   font-size: 10px;
   font-weight: 700;
   height: 14px;
   line-height: 13px;
   position: absolute;
   right: -4px;
   text-align: center;
   top: -2px;
   width: 14px;
   z-index: 2;
}

.nav-dropdown {
   display: block;
   background-color: #fff;
   border-bottom: 1px solid #f1f2f1;
   box-shadow: 0 4px 4px 0 rgba(51,51,51,.3);
   border-top: 1px solid #c9c8c7;
   /* opacity: 0; */
   visibility: hidden;
   padding-bottom: 16px;
   position: absolute;
   transition: opacity .1s, transform 0s .1s;
   width: 50%;
   z-index: 20;
   overflow: hidden;
}

.nav-open {
   visibility: visible;
}

.nav-dropdown.nav-open {
   opacity: 1;
}

.nav-dropdown__container {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
}

.nav-dropdown__item {
   color: #5d5c5b;
   padding: 14px;
}

.nav-dropdown__item:hover {
   cursor: pointer;
   text-decoration: underline;
   text-underline-offset: 4px;
}

.icon-categories {
   margin-right: .1rem;
   height: 28px;
   width: 28px;
   background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M786 4629 c-62 -15 -153 -68 -197 -116 -22 -24 -55 -74 -72 -111%0Al-32 -67 0 -655 0 -655 32 -67 c44 -93 100 -151 191 -196 l76 -37 656 0 656 0%0A76 37 c91 45 147 103 191 196 l32 67 0 656 0 655 -37 76 c-45 91 -103 147%0A-196 191 l-67 32 -635 2 c-363 1 -652 -3 -674 -8z m1288 -161 c55 -16 138 -99%0A154 -154 17 -59 17 -1209 0 -1268 -16 -55 -99 -138 -154 -154 -30 -9 -198 -12%0A-634 -12 -436 0 -604 3 -634 12 -55 16 -138 99 -154 154 -17 59 -17 1209 0%0A1268 15 51 99 137 148 153 52 16 1219 17 1274 1z'/%3E%3Cpath d='M3026 4629 c-62 -15 -153 -68 -197 -116 -22 -24 -55 -74 -72 -111%0Al-32 -67 0 -655 0 -655 32 -67 c44 -93 100 -151 191 -196 l76 -37 656 0 656 0%0A76 37 c91 45 147 103 191 196 l32 67 0 656 0 655 -37 76 c-45 91 -103 147%0A-196 191 l-67 32 -635 2 c-363 1 -652 -3 -674 -8z m1288 -161 c55 -16 138 -99%0A154 -154 17 -59 17 -1209 0 -1268 -16 -55 -99 -138 -154 -154 -59 -17 -1209%0A-17 -1268 0 -55 16 -138 99 -154 154 -17 59 -17 1209 0 1268 15 51 99 137 148%0A153 52 16 1219 17 1274 1z'/%3E%3Cpath d='M786 2389 c-62 -15 -153 -68 -197 -116 -22 -24 -55 -74 -72 -111%0Al-32 -67 0 -655 0 -655 32 -67 c44 -93 100 -151 191 -196 l76 -37 656 0 656 0%0A76 37 c91 45 147 103 191 196 l32 67 0 656 0 655 -37 76 c-45 91 -103 147%0A-196 191 l-67 32 -635 2 c-363 1 -652 -3 -674 -8z m1288 -161 c55 -16 138 -99%0A154 -154 17 -59 17 -1209 0 -1268 -16 -55 -99 -138 -154 -154 -59 -17 -1209%0A-17 -1268 0 -55 16 -138 99 -154 154 -17 59 -17 1209 0 1268 15 51 99 137 148%0A153 52 16 1219 17 1274 1z'/%3E%3Cpath d='M3537 2389 c-128 -19 -291 -83 -406 -161 -82 -55 -222 -207 -272%0A-293 -103 -179 -134 -295 -133 -495 0 -160 13 -229 65 -359 89 -224 288 -428%0A509 -522 132 -56 219 -73 380 -73 200 -1 316 31 495 133 109 63 263 217 326%0A326 102 177 133 294 133 495 0 201 -32 321 -133 495 -62 107 -208 254 -320%0A323 -189 116 -423 163 -644 131z m333 -172 c100 -28 168 -57 243 -107 427%0A-278 490 -875 131 -1234 -359 -359 -956 -296 -1234 131 -192 292 -167 680 60%0A948 120 141 273 231 460 271 80 17 262 12 340 -9z'/%3E%3C/g%3E%3C/svg%3E");
}
