.cart-modal__full-screen {
   bottom: 0;
   margin-bottom: 0;
   padding-top: 1rem;
   z-index: 1001;
   position: fixed;
   display: block;
   top: 0;
   right: 0;
   left: 0;
   background: #fff;
   box-shadow: 0 0 30px rgba(51,51,51,.3);
   overflow-y: hidden;
}

.cart-modal__header {
   margin-bottom: 2rem;
}

.cart-modal__back-button {
   display: flex;
   align-items: center;
   cursor: pointer;
   width: fit-content;
   margin-bottom: 1rem;
}

.cart-modal__back-button span {
   margin-left: .5rem;
}

.cart-modal__back-button span:hover {
   text-decoration: underline;
}

.icon-return {
   height: 24px;
   width: 24px;
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone;stroke%3A%232faebe;stroke-linecap%3Around;stroke-miterlimit%3A7.759;stroke-width%3A2px%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class=%27cls-1%27%20d=%27M1.4%2024h45.2M16.4%2039.2l-15-15v-.3l15-15%27%2F%3E%3C%2Fsvg%3E");
}

.cart-modal__wrapper {
   margin-top: 5rem;
   display: flex;
   justify-content: center;
   margin-bottom: 8rem;
}

.cart-modal__empty-cart {
   text-align: center;
}

p {
   margin: 0 0 1rem;
}

.cart-button {
   background-color: #41a561;
   border: 0;
   border-radius: 2px;
   box-sizing: border-box;
   color: #fbfcfc;
   cursor: pointer;
   display: inline-block;
   font-size: .95rem;
   font-weight: 700;
   height: 34px;
   line-height: 34px;
   min-width: 75px;
   padding: 0 14px;
   text-align: center;
   text-decoration: none;
   width: auto;
}

.cart-wrapper {
   display: flex;
}

.cart-list {
   flex: 1;
   margin-right: 1.5rem;
}

.cart-list h2 {
   line-height: 1.5;
   margin-bottom: 1rem;
   margin-top: 0;
}

.itemList {
   width: 100%;
   margin-bottom: 1em;
}

.arrowborder {
   border-top: 1px solid #c9c8c7;
   position: relative;
}

.arrowborder::before, .arrowborder::after {
   content: "";
   width: 0;
   height: 0;
   position: absolute;
   border: solid transparent;
}

.arrowborder::before {
   border-width: 9px;
   border-top-color: #c9c8c7;
   top: 0;
   left: 36px;
}

.arrowborder::after {
   left: 37px;
   border-width: 8px;
   border-top-color: #fff;
   top: -1px;
}

.itemRow_item:first-of-type {
   border-top: 0;
}

.itemRow_item {
   display: flex;
   border-top: solid 1px #c9c8c7;
   padding: 1em 0;
}

.itemRow_item-image {
   flex: 0 0 106px;
   padding-right: 1em;
}

.itemRow_item-image img {
   width: 100%;
}

.itemRow_item-details {
   flex: 6 1 342px;
}

.itemRow_upper-details {
   display: flex;
}

.itemRow_upper-left {
   flex: 1 0 186px;
}

.itemRow_item-details input {
   width: 35px;
   font-size: 16px;
   /* text-indent: 10px; */
   display: block;
   margin-top: .5em;
   margin-bottom: .5em;
   height: 34px;
   border: solid 1px #c9c8c7;
   outline-color: #c9c8c7;
   border-radius: 2px;
   text-align: center;
}

.itemRow_item-details input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.itemRow_upper-right {
   flex: 0 0 36px;
   font-size: 18px;
}

.itemRow_upper-right span {
   float: right;
   padding: 0.25em;
   box-sizing: border-box;
   background-position: center;
   cursor: pointer;
}

.icon-delete-product {
   height: 20px;
   width: 20px;
   background-image: url("data:image/svg+xml;utf-8, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2048%2048%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone;stroke%3A%232faebe;stroke-linecap%3Around;stroke-miterlimit%3A7.759;stroke-width%3A2px%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class=%27cls-1%27%20d=%27M45.3%2045.3%202.7%202.7M45.3%202.7%202.7%2045.3%27%2F%3E%3C%2Fsvg%3E")
}

.itemRow_lower-details {
   display: flex;
}

.itemRow_lower-left {
   flex: 1 0 120px;
}

.in-stock-green {
   color: #41a561;
}

.itemRow_lower-right {
   flex: 1 0 80px;
   text-align: right;
   position: relative;
}


.cartlist-details {
   flex: 0 0 370px;
}

.cartlist-block {
   padding: 1.5em;
   background-color: #fafafa;
}

.cartlist-details_summary {
   margin-bottom: 1em;
   background-color: #fff;
   box-sizing: border-box;
   padding: 1em;
   width: 100%;
   line-height: 1.6;
}

.cartlist-details_summary h2 {
   margin-bottom: 1rem;
}

.icon-plus-value {
   height: 22px;
   width: 22px;
   margin-left: 0.5rem;
   background-image: url("data:image/svg+xml;utf-8,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20viewBox=%270%200%2048%2048%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone;stroke%3A%23000000;stroke-linecap%3Around;stroke-miterlimit%3A7.759;stroke-width%3A2px%7D%3C/style%3E%3C/defs%3E%3Cpath%20class=%27cls-1%27%20d=%27M1.8%2024h44.4M24%2046.2V1.8%27/%3E%3C/svg%3E");
}

.icon-minus-value {
   margin-right: 0.5rem;
   background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI4IiB4MT0iNDAiIHgyPSIyMTYiIHkxPSIxMjgiIHkyPSIxMjgiLz48L3N2Zz4=');
}

.icon-quantity {
   fill: var(--global-black-20);
}

.quantity-block {
   display: flex;
   align-items: center;
}

.form-wrapper {
   display: flex;
   flex-direction: column;
}

.formCart-list {
   flex: 1;
   margin-right: 1.5rem;
}

.formCart-list__item {
   max-width: unset;
   margin-bottom: 1rem;
}

/* .formCart-list__item:first-child {
   margin-top: 1rem;
} */

.formCart-list__item label {
   color: #5d5c5b;
   display: block;
   font-size: .9em;
}

.formCart-list__item input, textarea {
   max-width: unset;
   max-width: 300px;
   max-height: 40px;
   width: 100%;
   height: 100px;
   color: #333;
   padding: 0 6px;
   border: 1px solid #c9c8c7;
   border-radius: 2px;
   font-size: 16px;
   outline-color: #c9c8c7;
   font-family: 'Robobto', sans-serif;
}

.double-form {
   margin-top: 1rem;
   display: flex;
   align-items: center;
}

.double-form input {
   width: 300px;
   margin-right: 1rem;
}

.totalPrice {
   float: right;
}