*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #fff;
   color: #333;
   font-family: 'Roboto', sans-serif;
   padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

a {
   text-decoration: none;
   color: #333;
   box-sizing: border-box;
}

header>div {
   margin: 0 auto;
   max-width: 1100px;
   position: relative;
   padding-left: 1rem;
   padding-right: 1rem;
   /* border-bottom: 1px solid #c9c8c7; */
   
}

section {
   margin-bottom: 2rem;
   display: block;
}

section>div {
   margin: 0 auto;
   max-width: 1100px;
   padding-left: 1rem;
   padding-right: 1rem;
}

footer>div {
   margin: 0 auto;
   max-width: 1100px;
}